$color_1: white;
$color_2: #939393;
$background-color_1: #24243E;
$background-color_2: #26263F;
$font-family_1: Arial, Helvetica, sans-serif;

.PostForm {
    position: fixed;
    top: 15%;
    left: 25%;
    // transform: translate(-50%, -50%);
    margin: 10px auto;
    font-family: $font-family_1;
    width: 50%;
    height: 700px;
    padding-bottom: 1rem;
    box-shadow: 0px 7px 7px 5px #00000040;
    border-radius: 10px;
    
    
    
     
    h1 {
        text-align: center;
        color: $color_1;
        font-size: 25px;
        padding-bottom: 0.5rem;
    }

    .content {
        padding-bottom: 10px;
        margin-left: 12rem;
        font-size:16px;
        
        label {
            padding-bottom: 0.2rem;
            color: rgb(33, 56, 255);
            display: block;
            width: 100px;
            font-weight: 400;
           

        }

        /////////ช่องใส่ข้อมูลสีเทา/////
        input,select,textarea {
            color: #939393;
            font-size: 15px;
            height: 40px;
            padding: 5px 10px;
            box-sizing: border-box;
            border: double 2px transparent;;  
            border-radius: 20px;
            background-color: #D9D9D9;
            
        }

        
        input, textarea[type="text"]{
            width: 60%;
           
          }

         
        input::placeholder, 
        textarea::placeholder {
            color: #939393;  
        } 

        textarea{
            height: 70px;
        }

        select {
            position:relative;
            cursor: pointer;
            margin-left: 1px;
            width: 60%;
        }


        /////////styling input add sport//////
        .addSport{
            width: 20%;  
            font-size: 14px;
            margin-left: 1rem;
            background-image: linear-gradient(#414171, #414171), 
                            linear-gradient(to right, #414171, #414171);
            color: #C9C4FD;
        }


        ////////styling - input-time/////////
        .inputTime {
            width: 60%;
            color: #939393;
        }

        

                
        ////////// - คั่นกลางช่องเวลาสองอัน //////
        span {
           margin-left: 15px;
           margin-right: 15px;
           font-size: 30px;
           color: white;
        }

    
         
    }

    

    .chooseFile {
        font-size: 15px;
        width: 200px;
        // height: 50%;
        padding-top: 3px;
        background-color: #24243E;
        color: white;
        border-radius: 10px;
        cursor: pointer;
        padding-left: 7px;
        border: double 2px transparent;;  
        border-radius: 20px;
        background-color: #F25F29AB;
        font-size: 12px;
        transition: .3s;

    }

    .chooseFile:hover {
        background-color: #AE0AFA;
    }

    



     ///////styling button//////////////////////////////
     button {
        height: 30px;
        width: 80px;
        font-weight: bold;
        color: $color_1;
        border: solid transparent;
        border-radius: 28px;
        padding-right: 0 2px;
        box-shadow: 1px 1px rgba(0, 0, 0, 0.25);
        align-content: center;
        margin-left: 10px;
        margin-right: 10px;
    }
    
    .buttonPost{
        display: flex;
        justify-content: center;
        cursor: pointer;

        .saveButton {
            background-color: #AE0AFA;
            cursor: pointer;
        }
        
        .saveButton:hover {
            background-color: #F25F29;
        }
        
        .cancelButton {
            background-color: $background-color_2;
            border: 1px solid white;
            
        }
        .cancelButton a{
            text-decoration-line: none;
            color: #ffffff;
        }
        
        .cancelButton:hover {
            background-color:  #777777;;
            cursor: pointer;
        }

    }
    
    
}   


@media only screen and (max-width: 992px) {
    .PostForm {
        width: 60%;

        .content {
            margin-left: 10rem;
            label {
                width: 25%;
                padding-bottom: 0.2rem;
            }

            .addSport {
                width: 20%;
            }

        }
    }
}
@media only screen and (max-width: 768px) {
    .PostForm {
        width: 80%;

        .content {
            .addSport {
                width: 25%;
            }
           
        }
        
    } 
}
@media only screen and (max-width: 480px) {
    .PostForm {
        width: 70%;
    
        h1{
            font-size: 20px; 
        }

        .content {
            font-size: 16px;
            margin-left: 3rem;
            padding-bottom: 0.5rem;
            
            input,select,textarea {
                font-size: 12px;
                width: 65%;
                padding: 5px 10px;
            }

    

            .addSport {
                font-size: 10px;
                margin-left: 3px;
                width: 30%;
            }

            .inputTime {
                width: 30%;
            }
            
            span {
                font-size: 15px;
                margin:0 5px; 
            }
        }

        .chooseFile{
            font-size: 12px;
            padding-top: 5px;
            height: 15px
        }
    }
}
@media only screen and (max-width: 320px) {
    .PostForm {
        width: 90%;

        h1{
            font-size: 14px;
        }
        
        .content {
            font-size: 14px;
            margin-left: 5px;
            padding-bottom: 0.3rem;

           
            input,select,textarea {
                font-size: 12px;
                width: 70%;
                padding: 3px 7px;
            }

            input, textarea[type="text"]{
                width: 70%;
            }

            
            .addSport {
                width: 25%;
                font-size: 9px;
            }

            .inputTime {
                width: 32%;
            }
    
        }
        .chooseFile{
            font-size: 10px;
            padding-top: 3px;
            height: 12px
        }

        button {
            height: 30px;
            width: 60px;
            font-size: 10px;
        }

        .buttonPost {
            display: block;
            align-items: center;
            width: 90%;
            height: 30px;
          
            .saveButton {
                margin: .5rem 5rem;
            }

            .cancelButton {
                margin: 0 5rem;
            }
        }
            
    }
}